venv/
Projects/
sandbox.*
.DS_STORE
out.csv
baseballStatistics/datasets/retrosheet data/batting/batting.csv
baseballStatistics/datasets/retrosheet data/allPlayers/allplayers.csv
baseballStatistics/datasets/retrosheet data/2025plays.csv
